input {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}

output {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    display: inline-block;
    width: 200px;
}